@inherits LayoutComponentBase
@layout AccountLayout


<div class="container">
     @Body
</div>













@* <div class="container">
    <section id="account-details">
        <aside>
            <ManageNavMenu />
        </aside>
        <div class="details">
            @Body
        </div>
    </section>
</div>
 *@