#account-details {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 150px;
    margin-bottom: 70px;

    @media(max-width: 1130px) {
        display: flex;
        flex-direction: column;
    }

    aside {
        border-right: 1px solid var(--color-gray-300);
        padding-right: 20px;

        @media(max-width: 1130px) {
            border-right: none;
        }

        .profile-info {
            margin: 20px;
            text-align: center;
            position: relative;

            .image-profile {
                position: relative;
                display: inline-block;

                img {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    overflow: hidden;
                }

                .btn-circle {
                    @include shadow-s;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: var(--color-white);
                    border: 1px solid var(--color-gray-300);
                    border-radius: 100%;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        color: var(--color-gray-800);
                        font-size: 16px;
                        font-weight: 600;
                    }

                    &:hover {
                        text-decoration: none;
                        background: var(--color-gray-600);

                        i {
                            color: var(--color-white);
                        }
                    }
                }
            }

            h5 {
                margin-top: 15px;
                margin-bottom: 0;
            }

            p {
                @include text-m;
            }
        }

        nav {
            margin-top: 50px;
            text-align: left;

            a {
                margin-left: 10px 0;
                text-align: left;
                justify-content: flex-start;
            }

            .btn-theme-s {
                text-align: left;
                justify-content: flex-start;
                margin-bottom: 10px;
            }
        }
    }

    .details {
        margin-top: 50px;
        width: 100%;

        #form-success {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
        }

        .basic-info {

            form {
                padding: 1rem;

                h5 {
                    color: var(--color-theme);
                }

                .content {
                    display: grid;
                    gap: 1rem 2rem;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "firstname lastname" "email phone" "bio bio" "buttons buttons";

                    @media(max-width: 538px) {
                        display: flex;
                        flex-direction: column;
                    }

                    .form-control {
                        width: 100%;
                    }

                    #form-firstname {
                        grid-area: firstname;
                    }

                    #form-lastname {
                        grid-area: lastname;
                    }

                    #form-email {
                        grid-area: email;
                    }

                    #form-phone {
                        grid-area: phone;
                    }

                    #form-bio {
                        grid-area: bio;

                        span {
                            color: var(--color-gray-500);
                            font-weight: 400;
                        }
                    }

                    #form-buttons {
                        grid-area: buttons;
                        margin: 20px 0;
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }

        .address-info {
            margin-top: 30px;

            form {
                padding: 1rem;

                h5 {
                    color: var(--color-theme);
                }

                .content {
                    display: grid;
                    gap: 1rem 2rem;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "addressline_1 addressline_1" "addressline_2 addressline_2" "postalcode city" "buttons buttons";

                    @media(max-width: 538px) {
                        display: flex;
                        flex-direction: column;
                    }

                    .form-control {
                        width: 100%;
                    }

                    #form-addressline-1 {
                        grid-area: addressline_1;
                    }

                    #form-addressline-2 {
                        grid-area: addressline_2;

                        span {
                            color: var(--color-gray-500);
                            font-weight: 400;
                        }
                    }

                    #form-postalcode {
                        grid-area: postalcode;
                    }

                    #form-city {
                        grid-area: city;
                    }

                    #form-buttons {
                        grid-area: buttons;
                        margin: 20px 0;
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }
    }
}
