.download-apps {
    background-color: var(--color-gray-100);

    .dark & {
        background: var(--color-gray-800);
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-gray-200);
        flex: 1;
        padding: 50px 0;

        .dark & {
            background: var(--color-gray-700);
        }

        @include xl {
            justify-content: space-around;
        }

        .phone-app {
            display: none;
            max-width: 100%;
            height: auto;

            @include xl {
                display: block;
            }
        }

        .apps {
            text-align: center;
            max-width: 416px;

            @include lg {
                text-align: start;
            }

            h1 {
                @include h2;
                margin: 30px 0;

                @include lg {
                    @include h1;
                    margin-bottom: 50px;
                }
            }

            .app-name {
                padding-bottom: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;

                @include lg {
                    flex-direction: row;
                    justify-content: space-between;
                }

                div {
                    .light-text {
                        color: var(--color-gray-600);
                        margin-bottom: 0px;
                    }

                    .stars {
                        color: var(--color-warning);
                        margin-bottom: 20px;
                    }
                }

                a {
                    @include xl {
                        align-self: end;
                        margin-bottom: 20px;
                    }

                    img {
                        max-width: 180px;
                        height: auto;
                    }
                }
            }
        }
    }
}
