.contact-page-header {
    padding: 15px 0;
    background-color: var(--color-gray-100);

    .dark & {
        background-color: var(--color-gray-900);
    }

    .container {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo mobile" "menu menu" "buttons buttons";
        gap: 40px;
        overflow-x: hidden;

        @include lg {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo menu switch buttons";
        }

        #logo {
            grid-area: logo;
        }

        #menu {
            grid-area: menu;
            display: none;

            @include lg {
                display: block;
            }

            nav {
                display: flex;
                gap: 15px;
            }
        }

        .btn-switch {
            grid-area: switch;
            display: none;

            @include lg {
                display: block;
            }
        }

        #account-buttons {
            grid-area: buttons;
            display: none;
            gap: 15px;

            @include lg {
                display: flex;
            }

            .btn-photo {
                width: 44px;
                height: 44px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .btn-mobilemenu {
            grid-area: mobile;
            display: block;
            border: none;
            background-color: transparent;

            &:hover {
                @include shadow-s;
            }

            @include lg {
                display: none;
            }
        }

        .hide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 1199px) {
    .container {
        #menu {
            display: none;

            &.hide {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            nav {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }

        #account-buttons {
            display: none;

            &.hide {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
