#security-account {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 150px;
    margin-bottom: 70px;

    @media(max-width: 1000px) {
        display: flex;
        flex-direction: column;
    }

    aside {
        border-right: 1px solid var(--color-gray-300);
        padding-right: 20px;

        @media(max-width: 1000px) {
            border-right: none;
        }

        .profile-info {
            margin: 20px;
            text-align: center;

            .image-profile {
                position: relative;
                display: inline-block;

                img {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    overflow: hidden;
                }

                .btn-circle {
                    @include shadow-s;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: var(--color-white);
                    border: 1px solid var(--color-gray-300);
                    border-radius: 100%;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        color: var(--color-gray-800);
                        font-size: 16px;
                        font-weight: 600;
                    }

                    &:hover {
                        text-decoration: none;
                        background: var(--color-gray-600);

                        i {
                            color: var(--color-white);
                        }
                    }
                }
            }

            h5 {
                margin-top: 15px;
                margin-bottom: 0;
            }

            p {
                @include text-m;
            }
        }

        nav {
            margin-top: 50px;
            text-align: left;

            a {
                margin-left: 10px 0;
                text-align: left;
                justify-content: flex-start;
            }

            .btn-theme-s {
                text-align: left;
                justify-content: flex-start;
                margin-bottom: 10px;
            }
        }
    }

    .details {
        margin-top: 50px;
        width: 100%;

        .basic-info {

            form {
                padding: 1rem;

                h5 {
                    color: var(--color-theme);
                }

                .content {
                    display: grid;
                    gap: 1rem 2rem;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "current current" "new confirm" "buttons buttons";

                    @media(max-width: 582px) {
                        display: flex;
                        flex-direction: column;
                    }

                    #form-current {
                        grid-area: current;
                        width: 48%
                    }

                    #form-new {
                        grid-area: new;
                    }

                    #form-confirm {
                        grid-area: confirm;
                    }

                    #form-buttons {
                        grid-area: buttons;
                        margin: 20px 0;
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }
    }

    .delete-account {
        display: flex;
        flex-direction: column;

        form {
            margin-top: 20px;

            h5 {
                color: var(--color-theme);
            }

            p {
                @include text-m;
            }

            .content {
                .input-group {
                    display: flex;
                    align-items: baseline;
                    gap: 10px;

                    .delete-account-label {
                        color: var(--color-gray-700);
                        font-weight: 400;
                    }
                }

                #form-buttons {
                    margin-top: 20px;
                }

                label.delete-account-label {
                    color: blue;

                    .dark & {
                        color: var(--color-white);
                    }
                }
            }
        }
    }
}
