@using FrontendBlazorWebApp.Data
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager NavigationManager

<header>
    <div class="container">
        <a id="logo" href=""><img src="images/Silicon Logotype - Light Mode.svg" alt="Logotype for Silicon"></a>
        <div id="menu" class="hide">
            <nav>
                <NavLink class="menu-link" href="" Match="NavLinkMatch.All">Overview</NavLink>
                <NavLink class="menu-link" href="/#features">Features</NavLink>
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="menu-link" href="/courses">Courses</NavLink>
                    </Authorized>
                </AuthorizeView>
                <NavLink class="menu-link" href="/contact">Contact</NavLink>
            </nav>
        </div>

        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" />
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>

        <div id="account-buttons" class="hide">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="btn-photo" href="/account/details"><img src="/images/small-iconimg.svg" alt="Image of profile picture"></NavLink>
                    <button class="btn-gray" @onclick="SignOut"><i class="fa-solid fa-right-to-bracket"></i><span>Sign out</span></button>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="btn-gray" href="/signin"><i class="fa-solid fa-right-to-bracket"></i><span>Sign In</span></NavLink>
                    <NavLink class="btn-theme" href="/signup"><i class="fa-regular fa-user"></i><span>Sign Up</span></NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</header>

@code {
    private async Task SignOut()
    {
        // Call the sign out method from SignInManager
        await SignInManager.SignOutAsync();
        // Redirect to the home page after sign out
        NavigationManager.NavigateTo("/");
    }
}